<!DOCTYPE html>
 <html ng-app="TopNewsApp">
	<head>
		<title>TODO supply a title</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="bower_components/angular/angular.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-controller="TopNewsCtrl as topNewsCtrl">
        <h1>Top News</h1>

		<h3>News</h3>
        <code>
            {{ topNewsCtrl.current | json }}
        </code>

		<h3>Comment</h3>

        <table>
			<tr>
				<td>Name</td>
				<td>
					<input type="text" size="50" placeholder="Your name" ng-model="topNewsCtrl.name">
				</td>
			</tr>

			<tr>
				<td>Name</td>
				<td>
					<input type="text" size="50" placeholder="Your comment" ng-model="topNewsCtrl.comment">
				</td>
			</tr>
            <tr>
				<td></td>
				<td>
					<button type="button" ng-click="topNewsCtrl.postComment()">
						Post comment
					</button>
				</td>
			</tr>

		</table>

	</body>
</html>
